<%= form_for(@user) do |user_builder| %>
  <p>
    <%= user_builder.label :email %>
    <%= user_builder.text_field :email %>
  </p>

  <%= user_builder.fields_for :addresses do |address_builder| %>
  <fieldset>
    <legend><%= address_builder.object.address_type %>Address</legend>
    <p>
      <%= address_builder.label :street %>
      <%= address_builder.text_field :street %>
      <!-- <input type="text" name="user[addresses_attributes][][street]"> -->
    </p>
    <p>
      <%= address_builder.label :cross_street %>
      <%= address_builder.text_field :cross_street %>
      <!-- <input type="text" name="user[addresses_attributes][][cross_street]"> -->
    </p>
    <%= address_builder.hidden_field :address_type %>
    <!-- <input type="hidden" name="user[addresses_attributes][][address_type]" value="Home"> -->
  </fieldset>
  <% end %>

  <%= user_builder.fields_for :team do |team_builder| %>
    <fieldset>
      <legend>Team (Name required; Hometown for new teams only.)</legend>
      <p>
        <%= team_builder.label :name %>
        <%= team_builder.text_field :name %>
        <!-- <input type="text" name="user[team_attributes][][name]"> -->
      </p>
      <p>
        <%= team_builder.label :hometown %>
        <%= team_builder.text_field :hometown %>
        <!-- <input type="text" name="user[team_attributes][][hometown]"> -->
      </p>
    </fieldset>
  <% end %>

  <%= user_builder.submit %>
<% end %>
 <!-- Write out the form in html before using ActionView macros -->

<!-- <form>
  <p>
    <label>Email:</label>
    <input></input>
  </p>

  <fieldset>
    <legend>Home Address</legend>
    <p>
      <label>Street:</label>
      <input type="text" name="user[addresses_attributes][][street]">
    </p>
    <p>
      <label>Cross Street:</label>
      <input type="text" name="user[addresses_attributes][][cross_street]">
    </p>
  </fieldset>

  <fieldset>
    <legend>Work Address</legend>
    <p>
      <label>Street:</label>
      <input type="text" name="user[addresses_attributes][][street]">
    </p>
    <p>
      <label>Cross Street:</label>
      <input type="text" name="user[addresses_attributes][][cross_street]">
    </p>
    <input type="hidden" name="user[addresses_attributes][][address_type]" value="Work">
  </fieldset> -->
